:root {
  /* PRIMARY – YOUR COLORS */
  --color-blue: rgba(22, 58, 94);               /* main blue */
  --color-blue-light: #3a6a9a;
  --color-blue-lighter: #6e93b6;
  --color-blue-dark: #15304e;
  --color-blue-hover: #1e4a77;

  --color-orange: rgba(234, 126, 61);           /* main orange */
  --color-orange-light: #f3b17c;
  --color-orange-lighter: #f7cba6;
  --color-orange-dark: #c86f33;
  --color-orange-hover: #da7f2a;

  /* NEUTRALS – matching your palette */
  --color-black: #111;
  --color-white: #ffffff;

  --color-gray: #334155;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #1f2937;

  --color-green: #198754;
  --color-yellow: #ffc107;
  /* TEXT */
  --color-text-dark: #111;
  --color-text-light: #f2f1f1;
}
